@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

*{
  margin: 0;
  padding: 0;

}
body{
  background: #75C35D;
  font-family: 'Roboto', sans-serif;

}

.loginBox{
  background: white;
  width: 400px;
  padding: 40px;
  margin: auto;
  margin-top: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -1px black;
}
.loginBox input{
  width: 100%;
  display: block;
  padding: 15px;
  background: #F2F2F2;
  margin-bottom: 15px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 16px;

}
#button{
  background: linear-gradient(#00B242, #1e6109);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;

}
#button:hover{
  background: linear-gradient(#1e6109, #00B242);
}
#registerLink span{
  color:#d6cccc;
}

#registerLink a{
  color:#64BD47;
  text-decoration: none;
}

#registerLink{
  text-align:center;
  font-size:18px;
}

.loginBox h2{
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-shadow:1px 1px 1px black;

}
